/*
# Copyright (c) 2007-2008 Sergei Sapozhnikov <sergei@mediaworks.ee>
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
*/


html { height:100%; }
body {
    padding: 1em;
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    color: #FFCCAA;
    background-color: #222222;
    font-size: 1em;
}
p, h1, h2, h3, h4, h5 { padding:0; margin:0; }

a img { border: none; }
p img { float: left; margin-right: 1em; }

a:focus, input:focus {
   -moz-outline: none; /* fx 1.07*/ 
    outline:none; /* fx 1.05, Safari, Mac IE*/
}
table {  width: 100%; }
td { margin: 0; padding: 0; vertical-align: top; }

div { position: relative; }

div#global {
    min-width: 800px; 
    _width:expression(document.body.clientWidth < 801? "800px": "auto" );
}

#header {
    background: #FFFF99;
    border: solid 0.2em #FFCC00;
    padding: 0.5em 1em;
}
.title { color: #222222; font-size: 0.85em; text-transform: uppercase; font-weight: bold; }
.sub_title { color: #FFCC00; font-size: 0.7em; text-transform: uppercase; font-weight: bold; }

/* main menu **************/
#mainmenu {
    float: left;
    height: 75px;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 2em;
    padding-left: 2em;
}
#mainmenu a { color: grey; text-decoration: none; }
#mainmenu a.active { color: white; text-decoration: underline;  }

#mainmenu li.active { background: #222222; border: solid 1px white; border-bottom: none; }

#mainmenu ul { float: left; margin: 0; padding: 0; border-bottom: solid 1px white; }
#mainmenu ul li { display: block; position: relative; margin: 0 20px 0 0; float: left; padding: 5px 10px; margin-bottom: -1px; }


/* content *****************/
#content {
    float: left;
    width: 100%;
}
#sub_section {
    float: right;
    padding: 1em;
}

#content table {
	position: relative;
	float: left;
	width: 100%;
        color: #ffffff;
    
}

#content table thead td{
	font-size: 0.7em;
	font-weight: bold;
	padding: 3px 5px;
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #333333;
}
#content table tr {
    background-color: #272727;
}
#content table tr:hover {
    background-color: grey;
}
#content table  td{
	font-size: 0.7em;
	padding: 3px 5px;
}
#content table tr.dark  {
	background-color: #232323;
}

#content h2 { color: white; font-size: 0.75em; text-transform: uppercase; padding: 1em; }




.buttons {
	position: relative;
	text-transform: uppercase;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	color: #080808;
	background-color: #404040;
	border: solid 1px #080808;
}

a.buttons, a:visited.buttons {
	text-decoration: none;
	padding: 3px 4px;
	top: -1px;
} 

a:hover.buttons {
	border: solid 1px #FFCC00;
	background-color: #404040;
	color: #FFFF99;
	padding: 3px 4px;
}

/*** links ***/

a {
        color: lightgrey;
}

a:hover {
        color: #FFFF99;
}

a:visited {
        color: white;
}

/*** login ***/
select, textarea, input {
	border: #808080 1px solid;
	color: #000000;
	background: #ffffff;
	width: 150px;
	margin: 0 0 3px 0;
	font-family: verdana;
	font-size: 0.7em;
	padding: 1px 2px 0 2px;
}

input[type=submit]:hover, input[type=button]:hover{
	background-color:#EBEBEB !important;
}

#login_btn { width: 156px; background-color: rgb(243, 243, 243); }
